public
logs
target
*.ipr
*.iws
*.iml
#scala worksheet
*.sc
.idea
.idea_modules
.classpath
.project
.settings
.cache-main
.cache-tests
.history
.vscode
RUNNING_PID
project/project
setEnvVars.sh
*.log

~$*.*

bin/
node_modules/
conf/application.local-personal.conf

## Client / React

client/coverage
client/build
client/node_modules
client/stats.json
client/reports
client/buildStats.json
node_modules/

npm-debug.log.*
npm-debug.log
.DS_Store
.sonar/

.ensime
.ensime_cache

**/.bsp/sbt.json
